body{
    text-align: center;
}
h1{
    font-size: 1.3rem;
}
img{
    height: 250px;
    width: 370px;
    -webkit-mask-image: linear-gradient(to bottom, transparent 50%, black 75%);
    mask-image: linear-gradient(to bottom, transparent 50%, black 75%);
}
table{
    margin: 0 auto;
    border: solid 2px;
}
a{
    text-decoration: none;
    font-size: 1.5rem;
}